@font-face {
    font-family: 'Helvetica';
    src: url(./font/helvetica-bold-webfont.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: 0 auto;
    padding: 25px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 25px;
}

.wrapper div {
    background: #c4c4c4;
}

.wrapper div:nth-child(21),
.wrapper div:nth-child(22),
.wrapper div:nth-child(23),
.wrapper div:nth-child(24) {
    background: blue;
}

.wrapper div:nth-child(3),
.wrapper div:nth-child(7),
.wrapper div:nth-child(11),
.wrapper div:nth-child(15),
.wrapper div:nth-child(19),
.wrapper div:nth-child(23) {
    background: red;
}

.btn {
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

button {
    font: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    padding: 20px 120px;
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin: 0 44px;
}

.btn div div {
    background: #C4C4C4;
    height: 2px;
    width: 200px;
}

.btn div div:first-child {
    margin-bottom: 8px;
}