@font-face {
    font-family: 'Helvetica';
    src: url(./font/helvetica-bold-webfont.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    display: flex;
    flex-direction: column;
}

/* B O X E S */

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 25px;
    margin: 0 auto;
    padding: 25px 0 50px 0;
}

.wrapper div {
    background: lightgrey;
}

.wrapper div:last-child,
.wrapper div:nth-last-child(2),
.wrapper div:nth-last-child(3),
.wrapper div:nth-last-child(4) {
    background: blue;
}   

.wrapper div:nth-child(4n+3) {
    background: red;
}

/* B U T T O N */

.btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

button {
    font: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    padding: 20px 120px;
    margin: 0 44px;
    border-radius: 100px;
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn::before,
.btn::after {
    content: "";
    display: inline-block;
    height: 12px;
    width: 200px;
    background: url(lines.svg);
}