.bigTab-3a {
    @include center;
    padding: 14px 48px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    border-radius: 5px 0px 0px 5px;
    color: $clr-black;
    border: 1px solid $clr-border;
    background: $clr-white;
}