.big-1d {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 14px 37px;
    border-radius: 5px;
    border: 2px solid $clr-blue;
    color: $clr-blue;
    background: $clr-white;
}