.small-1c {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 10px 29px;
    border-radius: 5px;
    color: $clr-black;
    border: 1px solid $clr-border;
    background: $clr-white;
}