.small-2b {
    @include center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    color: $clr-grey;
    background: $clr-grey-opacity;

    svg {
        margin-left: 10px;
        path {
            stroke: $clr-grey;
        }
    }
}