.small-2a {
    @include center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    color: $clr-white;
    background: $clr-blue;

    svg {
        margin-left: 10px;
    }
}