.small-2d {
    @include center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid $clr-blue;
    color: $clr-blue;
    background: $clr-white;

    svg {
        margin-left: 10px;

        path {
            stroke: $clr-blue;
        }
    }
}