.small-1d {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 10px 29px;
    border-radius: 5px;
    color: $clr-blue;
    border: 1px solid $clr-blue;
    background: $clr-white;
}